.buttons{
    background-color: rgb(61, 61, 116);
    height: 40px;
    width: 40px;
    border: none;
    margin: 0.5em;
    border-radius: 4px;
    top:10px;
    transition: all 400ms ease;
}
.buttons:hover{
    background-color: rgb(35, 35, 95);;
}
.buttons:focus{
    border:2px solid white
}