
html body {
    background:url('../wallpaperflare.com_wallpaper\ 2.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    width:100%;
    height: fit-content;
}
.header{
    position: relative;
    display:flex;
    background-color: rgba(0, 0, 0, 0.736);
    width: 100%;
    height: 5em;
    margin-bottom: 5px;
}

.createButton{
    position:absolute;
    top:2em;
    right:1.5em;
    height: 3em;
    width: 10em;
    border-radius: 10px;
    background-color: black;
    color: gray;
    font-size: large;
    transition: all 400ms ease;
}
.createButton:hover{
    color: yellow;
}

.reload{
    position: absolute;
    height: 3em;
    width: 6em;
    background-color: rgb(61, 61, 116);
    border:0ch;
    border-radius: 60px;
    right:5em;
    top:20px;
    transition: all 400ms ease;
}
.reload:hover{
    background-color:rgb(78, 78, 149) ;
}
.footer{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.413);
    width: 100%;
    height: 5em;
    top:145em;
}
.more{
    color: white;
    position: absolute;
    left: 10px;
}
.pag{
    color: white;
    position: absolute;
    left: 37em;
    bottom: 10px;
}