.div{
    position:relative;
    height: 15em;
    width: 20em;
    background-color: gray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.button{
    position:absolute;
    top:7em;
    left:1.5em;
    height: 3em;
    width: 15em;
    border-radius: 10px;
    background-color: black;
    color: gray;
    font-size: large;
    transition: all 400ms ease;
}
.button:hover{
    color: yellow;
}